/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinner {
  0% {
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
/*========== GLOBAL STYLE ==========*/
a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 900;
}

h3 {
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  font-size: 15px;
  font-weight: 400;
}

h5 {
  width: 43px;
  font-weight: 400;
  border: 2px solid transparent;
  border-bottom-color: #99e2d0;
  border-bottom-width: 3px;
  padding-bottom: 3px;
}

h6 {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__logo,
h1 {
  font-family: "Shrikhand", cursive;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.request__btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 25px;
  font-size: 15px;
  padding: 12px 15px;
  margin-top: 30px;
  color: #fff;
  background: -webkit-linear-gradient(-80deg, #ff79da, #9356dc);
  box-shadow: 0 6px 6px #bebebe;
}
.request__btn:active {
  opacity: 0.8;
  box-shadow: 0 6px 6px #727272;
}
@media only screen and (min-width: 1200px) {
  .request__btn:hover {
    opacity: 0.8;
    box-shadow: 0 6px 6px #727272;
  }
}

.resto__like {
  position: relative;
}
.resto__like input[type=checkbox],
.resto__like .resto__like .empty {
  display: inline-block;
  position: absolute;
}
.resto__like input[type=checkbox]:checked ~ .full {
  display: inline-block;
  position: absolute;
  opacity: 1;
}
.resto__like input[type=checkbox]:checked ~ .empty {
  display: inline-block;
  position: absolute;
}

.resto__like .empty {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 23px;
  color: #676669;
  cursor: pointer;
  transform: scale(1);
}
.resto__like .full {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 23px;
  opacity: 0;
  cursor: pointer;
  background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-delay: 0ms;
  transition-duration: 250ms;
  transform: scale(1.08);
}
.resto__like .full:active {
  opacity: 1;
  background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 992px) {
  .resto__like .full:active {
    opacity: 1;
    background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media only screen and (min-width: 1200px) {
  .resto__like .full:hover {
    opacity: 1;
    background: linear-gradient(to top, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header {
  background-color: #ececec;
}
.header__logo {
  background: #fff;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 7px #bebebe;
}
.header img {
  height: 50px;
  width: 170px;
}

.search__location {
  display: flex;
  align-items: center;
  margin: auto;
  width: 170px;
}
.search__location__spot {
  padding: 8px 5px;
}

input {
  background-color: transparent;
  border: none;
  padding: 15px 10px;
  width: 100%;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.footer {
  padding: 20px;
  background-color: #3d3d3d;
}
@media only screen and (min-width: 992px) {
  .footer {
    text-align: center;
    width: 100%;
  }
}
.footer__logo {
  filter: invert(100%);
  width: 30%;
  padding-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .footer__logo {
    width: 98%;
  }
}
.footer__link li {
  font-size: 14px;
  margin: 5px 0;
}
.footer__lk {
  color: white;
  padding-right: 30px;
}
.footer__lk span {
  padding-left: 10px;
}

.icon-u {
  font-size: 12px;
}

.icon-h {
  font-size: 9px;
}

.spinner {
  background-color: #ececec;
  animation: spinner 3s 1s both;
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.spinner::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.loader {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.loader__double {
  position: relative;
  border-radius: 75px;
  border: 6px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #ff79da;
  animation: spin 3s ease-in-out infinite;
}

.loader__double::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 75px;
  border: 6px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #9356dc;
  opacity: 0.6;
  animation: spin-reverse 2s ease-in-out infinite;
}

.loader__double::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  bottom: 17px;
  right: 17px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #9356dc;
  opacity: 0.3;
  animation: spin 1s ease-in-out infinite;
}

.booking {
  background-color: #f5f5f5;
  padding: 40px 30px 50px 30px;
  width: 100%;
  text-align: center;
}
.booking p {
  font-size: 17px;
  font-weight: 300;
}

.operation {
  padding-top: 15px;
  margin: 30px 20px;
}
@media only screen and (min-width: 665px) {
  .operation {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .operation .operation__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
  }
}
.operation__resto {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 30px 10px;
}
@media only screen and (min-width: 992px) {
  .operation__resto {
    flex-direction: row;
    width: 100%;
  }
}
.operation__btn {
  font-weight: 700;
  margin: 10px 0;
  padding: 25px 0;
  border-radius: 20px;
  box-shadow: 0 6px 6px #ebebeb;
  background-color: #f8f7f7;
}
@media only screen and (min-width: 992px) {
  .operation__btn {
    margin: 0 auto;
    width: 270px;
  }
}
.operation__btn:active {
  background-color: #f5eeff;
  box-shadow: 0 6px 6px #a5a5a5;
}
.operation__btn:active .operation__icon {
  color: #9356dc;
}
@media only screen and (min-width: 1200px) {
  .operation__btn {
    width: 350px;
  }
  .operation__btn:hover {
    background-color: #f5eeff;
    box-shadow: 0 6px 6px #a5a5a5;
  }
  .operation__btn:hover .operation__icon {
    color: #9356dc;
  }
}
.operation__icon {
  padding: 0 15px;
}
.operation__number {
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: -10px;
  background-color: #9356dc;
}

.resto {
  background-color: #f5f5f5;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
}
.resto__container {
  margin: 20px;
}
@media only screen and (min-width: 1200px) {
  .resto__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.resto__title {
  margin: 20px;
}
@media only screen and (min-width: 665px) {
  .resto__title {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .resto__title {
    text-align: center;
    padding-bottom: 30px;
  }
}
.resto__card {
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  margin: 15px 0;
  height: 220px;
  box-shadow: 0 6px 6px #ebebeb;
}
@media only screen and (min-width: 1200px) {
  .resto__card {
    width: 48%;
  }
  .resto__card:hover {
    box-shadow: 0 6px 6px #949494;
  }
}
.resto__card:active {
  box-shadow: 0 6px 6px #949494;
}
.resto__card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 160px;
}
.resto__contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
.resto__info {
  line-height: 20px;
}
.resto__fig__new {
  position: absolute;
  padding: 5px 10px;
  right: 15px;
  top: 15px;
  font-size: 15px;
  background: #99e2d0;
  color: #18866b;
}

.menu__header__logo {
  background: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.menu__header__fig img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -40px;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu__container {
  position: relative;
  background-color: #f5f5f5;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
}
.menu__container__top {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.menu__section {
  margin: 20px;
  padding-bottom: 80px;
}

.menu__info {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  background-color: #fff;
  border-radius: 15px;
}

.menu__info:hover .menu__check {
  transform: scaleX(1);
  min-width: 50px;
}
.menu__info:hover .circle {
  transform: rotate(0deg) rotate(360deg);
  transition: transform 400ms;
}

.menu__check {
  position: relative;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 250ms;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: #99e2d0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
}

.menu__text {
  position: relative;
  padding: 10px 0 10px 10px;
  flex-grow: 1;
  overflow: hidden;
}

.menu__price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  min-width: 60px;
}

.menu__btn {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
