//spinner loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spinner {
  0% {
    transform: scaleZ(1);
    opacity: 0.9;
  }
  50% {
    transform: scaleZ(0.7);
    opacity: 0.7;
  }
  75% {
    transform: scaleZ(0.5);
    opacity: 0.5;
  }
  90% {
    transform: scaleZ(0.3);
    opacity: 0.2;
  }
  100% {
    transform: scaleZ(0);
    opacity: 0;
  }
}

//menu animation
@keyframes mi {
  from {
    transform-origin: top;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
